.about-slide-content-container img {
    order: 2;
    justify-self: flex-end;
}

.about-slide-content-container .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 22rem;
    padding: 1.5rem;
}

.about-slide-content-container .content-container p {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 15px;
    max-width: 420px;
}