.contact-slide-content-container .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    height: 22rem;
}

.contact-slide-content-container .content-container h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5rem;
}

.contact-slide-content-container .content-container p {
    margin-bottom: 5.5rem;
    font-weight: 400;
    font-size: 15px;
    max-width: 400px;
}