.first-slide-content,
.contact-slide-content-container,
.about-slide-content-container {
    width: 70%;
    height: 100%;
    /* background-color: rgb(253, 0, 0); */
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
}

.contact-slide-content-container img,
.about-slide-content-container img {
    width: 450px;
    border-radius: 12px;
}

.about-slide-content-container .content-container .button,
.contact-slide-content-container .content-container .button {
    background: none;
    color: #30364f;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: .8rem 1.8rem;
    border: 2px solid #30364f;
    cursor: pointer;
}