.about-page {
    height: 100%;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    align-items: center;
    color: #30364f;
}

.about-content {
    margin: 1.4rem 0;
}

.about-page h2 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    /* margin: 10px; */
}

.about-page p {
    font-size: 15px;
    font-weight: 400;
    /* margin-bottom: 8px; */
}

.skills-content {
    align-self: flex-start;
}

.skills-content h3 {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.skill-container {
    /* background-color: red; */
    height: 4rem;
    display: flex;
    align-items: center;
    position: relative;
}

.skill-container::before,
.skill-container::after {
    content: '';
    height: 100%;
    width: 4px;
    background-color: #30364f;
    /* box-shadow: 8px 0 20px 20px rgba(0, 0, 0, 0.8); */
}

.skill-container::after {
    position: absolute;
    right: 0;
}

.items {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6rem;
    font-size: 1.2rem;
}

/* .full-bar {
    max-width: 750px;
    width: 100%;
    border: 1px solid #30364f;
    border-radius: 8px;
    margin-left: 14px;
    text-align: right;
    position: relative;
} */