.contact-page {
    width: 100%;
    max-width: fit-content;
    height: 100%;
    margin: auto;
    color: #30364f;
    text-transform: capitalize;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    overflow: auto;
    scrollbar-width: none;
}

.contact-page > div {
    max-width: 575px;
    width: 100%;
    padding: clamp(1rem, 2.5vw, 2rem);
}

.contact-heading {
    text-align: left;
}

.heading-container p {
    font-size: 12px;
    margin-bottom: 12px;
}

.information-container {
    width: 100%;
    max-width: 400px;
    padding: 0 1.2rem;
}

.information-container h6 {
    font-size: 14px;
    text-transform: capitalize;
}

.email-section,
.number-section {
    font-size: 12px;
    text-transform: lowercase;
}

.email-section {
    margin-bottom: 12px;
}

.information-container a {
    text-decoration: none;
    color: #30364f;
}

@media (max-width: 768px) {
    .contact-page {
        flex-direction: column;
    }
}