.home-page {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #30364f transparent;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.home-page>div {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}