.form-section {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 2.5rem;
}

.form-section form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

form label {
    font-size: 14px;
    font-weight: 600;
}

form input {
    display: block;
    width: 100%;
    padding: .6rem .8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #30364f;
    outline: none;
    text-transform: capitalize;
    font-weight: 400;
    color: #30364f;
    background-color: #f0f0db;
    font-family: "Poppins", sans-serif;
}
form input[type='email'] {
    text-transform: lowercase;
}
form input[type='email']::placeholder {
    text-transform: capitalize;
}
form textarea {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 5px;
    padding: .6rem .8rem;
    border: 1px solid #30364f;
    outline: none;
    background-color: #f0f0db;
    font-family: "Poppins", sans-serif;
}

form textarea::placeholder {
    text-transform: capitalize;
}