.footer {
  background-color: #30364f;
  color: #f0f0db;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 2rem;
}

.footer .time {
  text-transform: uppercase;
}

.footer .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer .social-links a>* {
  color: #f0f0db;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .footer .social-links {
    display: none;
  }
}