.clock-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  color: #f0f0db;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 10;
}
