* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F0F0DB;
  font-family: "Poppins", sans-serif;
  position: relative;
}

body > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}